
@{
    ViewData["Title"] = "About";
    Layout = "../Shared/_HomeLayout.cshtml";
}

<div style="height:1000px;">
    <h1>About</h1><br /><br />
    <p>
        Welcome to Ad-Omega, your number one source for all Advertisements. We're dedicated to providing you the very best of ad 
        experience, with an emphasis on relevant and versatile ads.<br />
        Founded in 2022 by Team-06, Ad-Omega has come a long way from its beginnings in Virtual mode. When Team-06 first started out,
        their project for online ads system drove them to start their own business.<br />
        We hope you enjoy our service as much as we enjoy offering them to you. If you have any questions or comments, please don't 
        hesitate to contact us.<br /><br />
        Sincerely,<br />

        Team-06 (Wipro Virtual Intership)
    </p>
</div>

