@model cloudscribe.Pagination.Models.PagedResult<OnlineAds.Models.TblProduct>

@{
    ViewData["Title"] = "Ads By Category";
    ViewData["Controller"] = "User";
    ViewData["Action"] = "Ads";
}

<style>
    .cimg {
        -webkit-transform 5s;
        transition: transform 5s;
    }
</style>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/paginition.css" rel="stylesheet" />
</head>
<body>
    <div style="height:1150px; ">
        <div class="row">


            <div class="col-lg-12 col-md-12" style="height:200px;margin-top:100px">

                @using(@Html.BeginForm("Ads","User"))
                {
                <div style="padding-top: 20px">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Search" name="search" id="search">
                    </div>
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                }



                <div class="row">
                    @{int x = 0;}
                    @if (Model != null)
                    {
                        foreach (var item in Model.Data)
                        {
                            x++;
                            <div class="col-lg-4 col-md-4" style="height:200px;margin-top:100px">

                                <img class="img img-responsive cimg" src="@Url.Content(item.ProImage)" style=" height:100%;width:100% ;border-radius:50px 50px 50px 50px" />
                                <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> @Html.ActionLink(@item.ProName, "ViewAd", new { id = @item.ProId })</h4>

                            </div>
                        }
                    }
                    
                    
                </div>
                
            </div>


            
        </div>

        
    </div>
    <h4>@x Results found</h4>
    <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
</body>
</html>

